.btnImg {
  background-image: url('./assets/img/shm.png');
  background-size: cover;
  background-position: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.btn span {
  margin-top: 0px; 
}
.textCol{
font-weight: bold;}
.fla{
  margin-bottom: -200px;
  background-image: url('../assets/img/fla.svg') ;
  
  background-repeat: repeat-x;
  
  }
 
