

.imagOfDetailsCont{
    display: flex;
    justify-content: center;
}
.event-image{
    /* margin-top: 3rem; */
    border-radius: 1rem;
    /* box-shadow:  0.2rem 0.6rem 2rem 1rem #b8b7b7; */
    width: 25rem;
    height: 35rem;

}
.titleOfDetails{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.writingDetails{
    display:flex;
    flex-direction: column;
}
.detailsOfEvent{
    display: flex;
    flex-direction: column;
    
}
.infoOfEvent{
    display: flex;
    justify-content: space-between;
}

.allEventDetails{
    display: flex;
    justify-content: center;
    gap: 2rem;
   
}
.detailsOfEvent p{
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.moreInfoDetails{
    background-color: #C80036;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
}
.valueOfInfo{
    font-weight:600;
}
.frameOfGps{
    margin-top: 3rem;
    border-radius: 1rem;
}
.tickets{
    display: flex;
    justify-content: center;
}
.vipTickets{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orginalTickets{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counterDetails{
padding:0.5rem 1rem;
border-radius: 1rem;
margin: 0.5rem;
background-color: bisque;
width: 3rem;
}
.valueTicket{
    font-weight: 600;
}
.purchaseDetails{
    background-color: brown;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    transform: 500ms e;
}
.purchaseDetails:hover{
transition: sclale(11.1rem);
font-weight: 700;
}

.ticketsCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.purshaseDetails{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.detailsDetails{
    border: black 0.1rem solid ;
    margin: 3rem 8rem ;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow:  1rem 0.6rem 6rem 1.3rem #cfcfcf;
}
