/* import React, { useState, useEffect } from "react";
import { Link, NavLink } from "react-router-dom";
import "./NavBar.css";

function NavBar() {
  const [menuOpen, setMenuOpen] = useState(false);
  const [scrolling, setScrolling] = useState(false);

  useEffect(() => {
    const handleScroll = () => {
      if (window.scrollY > 50) {
        setScrolling(true);
      } else {
        setScrolling(false);
      }
    };

    window.addEventListener("scroll", handleScroll);

    return () => window.removeEventListener("scroll", handleScroll);
  }, []);

  return (
    <nav className={navbar ${scrolling ? "scrolled" : ""}}>
      <Link to="/" className="navbar-title">
        <img
          src="src/Logo11.png"
          alt="Logo"
          className="navbar-logo"
          width="75px"
          height="auto"
        />
      </Link>
      <div
        className="navbar-menu"
        onClick={() => {
          setMenuOpen(!menuOpen);
        }}
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul className={navbar-list ${menuOpen ? "open" : ""}}>
        <li>
          <NavLink to="/" ClassName="active" exact>
            Home
          </NavLink>
        </li>

        <li>
          <NavLink to="/OurStory" ClassName="active">
            Our Story
          </NavLink>
        </li>
        <li>
          <NavLink to="/contactUs" ClassName="active">
            Contact
          </NavLink>
        </li>
        <li>
          <NavLink to="/Catalog" ClassName="active">
            Event
          </NavLink>
        </li>

        <li>
          <NavLink to="/Profile" ClassName="active">
            Profile
          </NavLink>
        </li>
        <li>
          <NavLink to="/SignUp" ClassName="active">
            <button className="navbar-signup-button">SignUp</button>
          </NavLink>
        </li>
      </ul>
    </nav>
  );
}

export default NavBar;
Navbar.jsx
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.navbar-logo {
  margin-left: 30px;
}
.navbar.scrolled {
  background-color: #333;
}

.navbar-title {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-menu span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  align-items: center;
}

.navbar-list li {
  margin-left: 20px;
}

.navbar-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-list li a:hover,
.navbar-list li a.active {
  color: #ff6347;
}

.navbar-signup-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
  border-radius: 15px;
  margin-right: 50px;
}

.navbar-signup-button:hover {
  background-color: #ff4500;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    text-align: center;
  }

  .navbar-list.open {
    display: flex;
  }

  .navbar-list li {
    margin: 10px 0;
  }

  .navbar-list li a {
    font-size: 1.2rem;
    padding: 10px 0;
  }
} */


