body {
  background-color:#fcf9f3  ;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.top-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .5vh;
  background: url('./s5.svg') no-repeat center;
  background-size: contain;
  margin-top: 20%;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #fcf9f3;
  margin-top: 20px;
}

.video-container {
  background-image: url(./s8.svg);
  width: 80%;
  max-width: 1200px;
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.top-left {
  position: absolute;
  top: 200px;
  right: 200px;
}

.top-left img {
  width: 100px;
  height: auto;
}

button:hover {
  background-color: #FF6969;
}

.font {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #fcf9f3;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.custom-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.custom-card {
  
  width: 18rem;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.custom-card img {
  height: 200px;
  object-fit: cover;
}

.custom-card-body p {
  margin: 0;
  color: #333;
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
  }
}

.card-group {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: center; /* Center the items horizontally */
  gap: 100px; /* Optional: Adds spacing between the cards */
  margin-bottom: 5%;
  

}
/*   
.cards {
  flex: 1; 
}
 */
.card-img {
  width: 500px; 
  height: 500px; 
  /* padding-right: 15%; */
  
}
/* Additional styles for responsiveness and aesthetics */
/* .contain {
margin-top: 5%;
}

.img-fluid {
max-width: 100%;
height: auto;
}

.lead {
color: #C80036;
margin-top: 1rem;
} */
